#root,
body {
  min-height: 100vh;
  height: 100%;
  background-color: #1F2022;
  overflow: hidden;
}

.bar {
  margin-bottom: 30px;
}

.code {
  min-height: 100vh;
}

.line-highlight {
  background-color: rgba(255, 0, 0, .4);
}

.container {
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: flex-end;
  align-content: center;
  display: flex;
}
